.navbar {
  color: $primary-color;
  padding: 30px 0;
  background-color: $white-color;
  width: 100%;
  position: fixed;
  z-index: 1;
  .flex {
    align-items: center;
    height: 100%;
    justify-content: space-between;
    @media #{$tab-size} {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .logo {
    width: 220px;
    height: auto;
    @media #{$tab-size} {
      width: 180px;
      height: auto;
    }
  }
  .toggle-button {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    display: none;
    transition: all 0.5s ease-out;
    .btn-line {
      width: 30px;
      height: 4px;
      margin: 0 0 5px 0;
      background: #000;
      border-radius: 10px;
      transition: all 0.5s ease-out;
    }
    @media #{$tab-size} {
      display: block;
    }
    // Rotate Into X With Menu Lines
    &.active {
      transform: rotate(180deg);

      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(50deg) translate(5px, 5px);
        }

        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }

        // Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-50deg) translate(7px, -8px);
        }
      }
    }
  }
  nav {
    display: flex;
    margin: 10px 0;
    @media #{$tab-size} {
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 90px;
      right: -100%;
      transition: 0.5s;
      background-color: $white-color;
      &.active {
        right: 0;
      }
    }
    ul {
      display: flex;
      @media #{$tab-size} {
        flex-direction: column;
      }
      li {
        @media #{$tab-size} {
          text-align: center;
          margin: 2rem 0;
        }
        a {
          color: $primary-color;
          padding: 10px 0;
          margin: 0 20px;
          font-weight: 900;
          text-decoration: none;
          @media #{$tab-size} {
            width: 100%;
          }
        }
        .sign-link {
          margin-left: 5rem;
          @media #{$tab-size} {
            margin-left: 20px;
          }
        }
        .try-btn {
          background-color: $primary-color;
          padding: 10px 15px;
          color: white;
        }
      }
    }
  }
  nav.active {
    display: flex;
  }
}
