.navbar {
  color: $primary-color;
  .toggle-button {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 45px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    .btn-line {
      width: 30px;
      height: 4px;
      margin: 0 0 5px 0;
      background: #000;
      border-radius: 10px;
      transition: all 0.5s ease-out;
    }
    // Rotate Into X With Menu Lines
    &.active {
      transform: rotate(180deg);

      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(50deg) translate(5px, 5px);
        }

        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }

        // Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-50deg) translate(7px, -8px);
        }
      }
    }
  }
  nav {
    &.active {
      display: block;
    }

    ul {
      li {
        a {
          color: $primary-color;
        }

        .try-btn {
          background-color: $primary-color;
          padding: 10px 15px;
          color: white;
        }
      }
    }
  }
  nav.active {
    display: flex;
  }
}
